.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.listItem {
  margin-left: 1rem;
  margin-right: 1rem;
}
